.avatarContainerFrontPage{
  cursor: pointer;
}

.avatarContainerFrontPage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ccc;
}

.avatarContainerButton{
  cursor: pointer;
}

.avatarContainerButton img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
