@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=SUSE:wght@100..800&display=swap");

.headerContainerHomepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitleContainer {
  margin-left: 20px;
}
.headerTitle{
   font-size: 3.5vh;
}

.headerTitle, .headerSubstitle {
  font-weight: bolder;
  font-family: "Pixelify Sans", sans-serif;
}

.headerSubstitle{
   letter-spacing: 1.5px;
}

