@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=SUSE:wght@100..800&display=swap");

.headerContainerHomepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitleContainer {
  margin-left: 20px;
}
.headerTitle{
   font-size: 3.5vh;
}

.headerTitle, .headerSubstitle {
  font-weight: bolder;
  font-family: "Pixelify Sans", sans-serif;
}

.headerSubstitle{
   letter-spacing: 1.5px;
}

.navMainContainer{
  width: 35%;
}
.navUlContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.navUlContainer li{
  display:flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
}

.navUlContainer li:hover{
  border-bottom: dashed;
}

.navIcon{
  display: flex;
  width: 25%;
}


.arrowContainer{
  background-color: yellow;
  width: 10px;
}

.titleNavLiContainer{
  display: flex;
  justify-content: space-around;
}